@media (min-width: 1281px) {


  .container {
    width: 1280px;
  }

  .headline {
    width: 1050px;
  }

  .usability-card__bg.last {
    width: 317px;
    height: 266px;
    display: unset;
  }

  .usability-card.last {
    width: 317px;
    height: 342px;
  }

  .usability-arrow {
    display: none;
    width: 0px;
  }

  .usability-card__title.last {
    overflow: unset;
    width: 317px;
    height: 1;
  }

  .container.card {
    width: 1340px;
    margin: 0 auto;
  }

  .footer-wrapper {
    width: 1259px;
    margin: 0 auto;
  }

  .consult-form-bg {
    position: relative;
    height: 600px;
    margin: 0 auto;
    width: 1058px;
  }

  body {
    overflow-x: hidden;
  }

}

@media (max-width: 1280px) {

  body {
    overflow-x: hidden;
  }

  .section-card-wrapper.usability {
    justify-content: space-between;
    width: 1172px;
  }

  .usability-card__bg.last {
    width: 317px;
    height: 266px;
  }

  .usability-card.last {
    width: 62px;
  }

  .footer-wrapper {
    width: 1130px;
  }

  footer {
    padding: 80px 40px 60px 40px;
  }

  .consult-form-bg {
    position: relative;
    height: 600px;
    width: 1060px;
    margin: 0 auto;
  }

}

@media (max-width: 1250px) {

  .footer-wrapper {
    width: 1080px;
  }

}

@media (max-width: 1150px) {

  .footer-wrapper {
    width: 1009px;
  }

}


@media (max-width: 1000px) {

  .container {
    padding: 0 10px;
    margin: 0 auto;
    width: 930px;
  }

  .nav__list {
    width: 420px;
  }

  .nav__list-item {
    font-size: 13px;
  }

  .headline-1 {
    font-size: 60px;
  }

  .headline-2 {
    font-size: 60px;
  }

  .headline-2_2 {
    font-size: 60px;
  }

  .header-wrapper__logo {
    width: 195px;
  }

  .header-wrapper-menu {
    width: 158px;
  }

  .header-phone {
    font-size: 22px;
  }

  .section-card-wrapper-card {
    width: 285px;
  }

  .section-card-wrapper.usability {
    width: 950px;
  }

  .usability-card__bg {
    width: 280px;
    height: 280px;
  }

  .usability-card.last {
    height: 340px;
  }

  .section-tittle__1 {
    font-size: 30px;
  }

  .section-tittle__2 {
    font-size: 28px;
  }

  .about-content {
    right: 0px;
    width: 647px;
    padding: 0 20px;
  }

  .section-title {
    display: unset;
    width: 647px;
    padding: 0 20px;
  }

  .section-tittle__2 {
    display: inline;
  }

  .section-tittle__1 {
    display: inline;
  }

  .about-content__button {
    margin-top: 45px;
  }

  .consult-form__bg img {
    background-size: contain;
    width: 90vw;
  }

  .consult-form__bg {
    right: unset;
  }

  .consult-form-bg {
    width: 910px;
  }

  .consult-form-white {
    padding: 40px 55px 25px 80px;
    width: 590px;
  }

  .consult-form-white__title-1 {
    font-size: 30px;
  }

  .consult-form-white__title-2 {
    font-size: 30px;
  }

  .consult-form-white__text {
    font-size: 16px;
    width: 420px;
  }

  .consult {
    width: 65%;
  }

  .footer-wrapper {
    width: 920px;
  }

}

@media (max-width: 950px) {

  .footer-wrapper-nav {
    display: flex;
    justify-content: space-between;
    width: 335px;
  }

  .footer-wrapper {
    width: 845px;
  }
}

@media (max-width: 900px) {

  .container {
    width: 830px;
    padding: 0 15px;
  }

  .header-wrapper {
    justify-content: unset;
  }

  .header-wrapper__logo {
    width: 170px;
  }

  .nav__list {
    margin-left: 30px;
    margin-right: 50px;
    width: 385px;
  }

  .headline-1 {
    font-size: 50px;
  }

  .headline-2 {
    font-size: 50px;
  }

  .headline-2_2 {
    font-size: 52px;
  }

  .headline-top-right__text {
    font-size: 13px;
  }

  .section-card-wrapper-card {
    width: 255px;
  }

  .usability-card__bg {
    width: 250px;
    height: 210px;
  }

  .usability-card__title {
    font-size: 16px;
  }

  .usability-card {
    width: 250px;
    height: 260px;
  }

  .usability-card__bg.last {
    width: 250px;
    height: 210px;
  }

  .usability-card.last {
    height: 285px;
  }

  .section-card-wrapper.usability {
    width: 850px;
  }

  .usability-arrow {
    top: 30%;
  }

  .footer-wrapper {
    width: 815px;
  }

}

@media (max-width: 850px) {

  .consult-form__bg img {
    background-size: contain;
    width: 97vw;
  }

  .consult-form-white {
    width: 550px;
    right: 115px;
  }

  .footer-wrapper {
    width: 757px;
  }
}

@media (max-width: 768px) {

  .container {
    width: 700px;
    padding: 0 15px;
  }

  .header-icons {
    display: flex;
    margin-left: 90px;
    margin-right: 110px;
  }

  .header-wrapper {
    justify-content: unset;
    width: 680px;
  }

  .header-burger {
    display: unset;
    height: 45px;
    width: 45px;
    background: #023671;
    border-radius: 0px 10px;
    color: #FFFFFF;
    transition: all 0.4s ease;
  }

  .header-burger:hover {
    background: #023671a1;
  }

  .burger-lines {
    display: flex;
    flex-direction: column;
    height: 27px;
    justify-content: space-between;
    width: 31px;
    margin: 9px auto;
  }

  .burger-line {
    height: 2px;
    background-color: white;
    margin-top: 2px;
  }

  .burger-line:first-child {
    margin-top: 0px;
  }

  .header-search {
    display: inline-block;
    position: relative;
    height: 45px;
    width: 45px;
    background: #023671;
    border-radius: 0px 10px;

    color: #FFFFFF;
    transition: all 0.4s ease;
    margin-left: 20px;
  }

  .header-search:hover {
    background: #023671a1;
  }

  .header-search img {
    position: absolute;
    height: 40px;
    width: 40px;
    margin: 5px 5px;
  }

  .container.header {
    width: 660px;
    padding: 0 15px;
  }

  .header-wrapper-menu {
    width: 142px;
  }

  .header-phone {
    font-size: 20px;
  }

  .header-wrapper-menu__calc {
    font-size: 12px;
  }

  .nav__list {
    display: none;
  }

  .headline {
    height: unset;
    width: 630px;
  }

  .headline-1 {
    font-size: 36px;
  }

  .headline-2 {
    font-size: 36px;
  }

  .headline-2_2 {
    font-size: 36px;
  }

  .headline-bottom__left {
    width: 89px;
    height: 56px;
  }

  .headline-top {
    justify-content: space-between;
  }

  .headline-bottom {
    justify-content: space-between;
  }

  .section-tittle__1 {
    font-size: 26px;
  }

  .section-tittle__2 {
    font-size: 26px;
  }

  .section-name {
    font-size: 13px;
  }

  .section-card-wrapper-card__number {
    font-size: 14px;
  }

  .section-title {
    display: unset;
    width: 460px;
    padding: 0 10px;
  }

  .section-card-wrapper-card__image {
    top: 40px;
    height: 60%;
    width: 80%;
  }

  .section-card-wrapper-card-content__title {
    font-size: 14px;
  }

  .section-card-wrapper-card-content__text {
    font-size: 13px;
    width: 185px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .section-card-wrapper-card-content__catalog__name {
    font-size: 12px;
  }

  .section-card-wrapper-card {
    width: 208px;
    height: 230px;
    padding: 15px 10px 15px 15px;
  }

  .production {
    margin: 80px 0 80px;
  }

  .section-head {
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .section-head.usabiluty {
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .section-name.usabiluty {
    margin-right: 0px;
  }

  .section-title {
    width: unset;
  }

  .section-title.prod {
    display: unset;
    width: 460px;
    padding: 0 10px;
  }

  .usability-card__bg {
    width: 210px;
    height: 184px;
  }

  .usability-card {
    width: 210px;
    height: 250px;
  }

  .section-card-wrapper.usability {
    width: 730px;
  }

  .usability-card__bg.last {
    width: 210px;
    height: 184px;
    position: unset;
  }

  .usability-card.last {
    height: 280px;
  }

  .usability-card__title {
    font-size: 13px;
    margin-top: 15px;
  }

  .usability {
    margin-bottom: 80px;
  }

  .section-tittle__1 {
    font-size: 22px;
  }

  .section-tittle__2 {
    font-size: 22px;
  }

  .section-title {
    width: 466px;
  }

  .about-content__block {
    font-size: 16px;
  }

  .about-content {
    width: 476px;
  }

  .about-button__text {
    font-size: 14px;
    margin-left: 10px;
  }

  .about-button img {
    height: 28px;
    width: 28px;
  }

  .consult-form__bg img {
    background-size: contain;
    width: 95vw;
  }

  .consult-form-bg {
    width: 710px;
    height: 405px;
  }

  .consult-form-white__title-1 {
    font-size: 26px;
  }

  .consult-form-white__title-2 {
    font-size: 26px;
  }

  .consult-form-white__text {
    font-size: 14px;
    width: 370px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .input__label {
    font-size: 14px;
  }

  .consult-name:focus+.input__label {
    transform: translateY(-20px);
    font-size: 12px;
  }

  .consult-name:not(:placeholder-shown)+.input__label {
    transform: translateY(-20px);
    font-size: 12px;
  }

  .consult-tel:focus+.input__label {
    transform: translateY(-20px);
    font-size: 12px;
  }

  .consult-tel:not(:placeholder-shown)+.input__label {
    transform: translateY(-20px);
    font-size: 12px;
  }

  .consult-form-white {
    padding: 25px 20px 0px 55px;
    width: 62vw;
    height: 360px;
    right: 7vw;
    top: 45px;
  }

  .container.consult {
    height: 405px;
  }

  .consult-form {
    height: 405px;
    margin-bottom: 100px;
  }

  .consult-content__button {
    margin-top: 35px;
  }

  .consult-button__text {
    font-size: 14px;
    margin-left: 10px;
  }

  .consult-button img {
    height: 28px;
    width: 28px;
  }

  .footer-logo {
    background-size: contain;
    width: 230px;
    height: 65px;
  }

  .footer-block-wrapper {
    width: 169px;
  }

  .footer-block__worktime {
    font-size: 12px;
  }

  .footer-block__text {
    font-size: 12px;
  }

  .footer-tel {
    font-size: 22px;
    margin: 25px 0 25px;
  }

  .footer-wrapper {
    width: 660px;
  }

  .nav-block__title {
    font-size: 16px;
  }

  .nav-block-item-title {
    font-size: 15px;
  }

  .footer-wrapper-nav {
    display: flex;
    justify-content: space-between;
    width: 320px;
  }

  footer {
    padding: 55px 30px 45px 25px;
  }

}

@media (max-width: 480px) {

  .container {
    width: 460px;
    padding: 0 10px;
  }

  .header-icons {
    margin-right: 0px;
    margin-left: 50px;
  }

  .header-wrapper-menu {
    display: unset;
  }

  .header-calc-adaptive {
    width: 45px;
    height: 45px;
  }

  .header-wrapper-menu__calc {
    display: none;
  }

  .header-adaptive {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 15%;
  }

  .header-phone.adaptive {
    display: inline-block;
    width: 190px;
    margin-bottom: 4px;
  }

  .header-phone {
    display: none;
  }

  .header-phone.adaptive {
    display: unset;
  }

  .container.header {
    width: 460px;
    padding: 0 12px;
  }

  .headline-1 {
    font-size: 24px;
  }

  .headline {
    width: 95vw;
    margin: 35px auto;
  }

  .header-wrapper {
    justify-content: unset;
    width: 90vw;
  }

  .headline-top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6px;
  }

  .headline-2 {
    font-size: 24px;
    margin-right: 10px;
  }

  .headline-2_2 {
    font-size: 24px;
  }

  .headline-top-right__text {
    font-size: 10px;
  }

  .headline-top-right {
    margin-left: 0px;
    margin-top: 3px;
  }

  .headline-bottom__left {
    width: 56px;
    height: 32px;
  }

  .headline-top-right__icon {
    width: 8px;
    height: 12px;
    margin-right: 2px;
  }

  .btn img {
    width: 50px;
    height: 50px;
    top: 40%;
  }

  .slider-prev {
    left: 10px;
  }

  .slider-next {
    right: 10px;
  }

  .section-head {
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .section-title {
    padding: 0;
    width: 90vw;
  }

  .section-title.prod {
    padding: 0;
    width: 335px;
  }

  .section-name {
    font-size: 12px;
  }

  .section-tittle__2 {
    font-size: 20px;
  }

  .section-tittle__1 {
    font-size: 20px;
  }

  .section-card-wrapper-card-content__text {
    display: none;
  }

  .section-card-wrapper-card-content__catalog {
    display: none;
  }

  .section-card-wrapper-card-content {
    margin-bottom: 40%;
  }

  .section-card-wrapper-card__image {
    display: none;
  }

  .section-card-wrapper-card {
    width: 30%;
    height: 135px;
    padding: 15px 10px 0px 15px;
  }

  .slider {
    max-width: 100%;
    margin: 0px auto;
    overflow: hidden;
  }

  .production {
    margin: 60px 0 60px;
  }

  .btn {
    position: absolute;
    top: 40%;
  }

  .section-head.usabiluty {
    margin-bottom: 20px;
  }

  .usability-card__bg {
    width: 200px;
    height: 170px;
  }

  .usability-card {
    width: 200px;
    height: 210px;
  }

  .section-card-wrapper.usability {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    grid-gap: 90px;
  }

  .usability-card:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .usability-card:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .usability-card:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .usability-card:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .section-card-wrapper.usability {
    display: grid;
    grid-template-columns: 143px 157px;
    grid-template-rows: 150px 150px;
    grid-gap: 90px;
    width: 400px;
  }

  .usability-card__bg.last {
    width: 200px;
    height: 170px;
  }

  .usability-card__arrow {
    position: absolute;
    left: 4px;
    bottom: 50px;
    width: 40px;
    height: 40px;
  }

  .usability-card {
    justify-content: unset;
  }

  .usability-card.last {
    height: 218px;
    width: 200px;
  }

  .usability-card__arrow.last {
    bottom: 50px;
  }

  .usability-arrow {
    display: none;
  }

  .container.about {
    align-items: unset;
  }

  .about-content__block {
    font-size: 14px;
    width: 98vw;
    margin-bottom: 15px;
  }

  .section-card-wrapper {
    display: flex;
    justify-content: space-between;
    width: 95vw;
  }

  .about-content__button {
    margin-top: 20px;
  }

  .about-button img {
    height: 24px;
    width: 24px;
  }

  .about-content {
    width: unset;
    padding: 0;
  }

  .cosult-button img {
    height: 24px;
    width: 24px;
  }

  .consult-form__bg img {
    height: 272px;
    width: 420px;
  }

  .consult-form-white {
    width: 360px;
    right: 11px;
    padding: 25px 20px 0px 35px;
    height: 300px;
  }

  .consult-form-bg {
    width: 401px;
    height: 274px;
  }

  .consult-form-white__title-1 {
    font-size: 20px;
  }

  .consult-form-white__title-2 {
    font-size: 20px;
  }

  .consult-form-white__text {
    font-size: 13px;
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .consult-name {
    padding: 1px 0;
  }

  .consult-name-block {
    position: relative;
    margin-bottom: 20px;
  }

  .consult-tel {
    padding: 1px 0;
  }

  .input__label {
    font-size: 12px;
  }

  .consult-name:focus+.input__label {
    transform: translateY(-20px);
    font-size: 11px;
  }

  .consult-name:not(:placeholder-shown)+.input__label {
    transform: translateY(-20px);
    font-size: 11px;
  }

  .consult-tel:focus+.input__label {
    transform: translateY(-20px);
    font-size: 11px;
  }

  .consult-tel:not(:placeholder-shown)+.input__label {
    transform: translateY(-20px);
    font-size: 11px;
  }

  .consult-button__text {
    font-size: 12px;
    margin-left: 10px;
  }

  .consult-content__button {
    margin-top: 20px;
    width: 50vw;
  }

  .consult-button img {
    height: 24px;
    width: 23px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }

  .footer-block-wrapper {
    margin-top: 15px;
    transform: translateX(20%);
  }

  .footer-wrapper-block {
    margin-top: 0;
    align-items: center;
  }

  footer {
    padding: 10px 20px 45px 20px;
  }

  .nav-block__title {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .footer-block__line {
    height: 2px;
    margin: 40px 0;
    width: 70vw;
  }

  .footer-wrapper-nav {
    width: 70vw;
  }

  .nav-block-item-title {
    font-size: 14px;
  }

  .nav-block-link {
    font-size: 13px;
  }

  .nav-block-contact {
    font-size: 13px;
  }

  .about {
    margin-bottom: 50px;
  }

  .consult-form {
    height: 340px;
    margin-bottom: 60px;
  }
}

@media (max-width: 420px) {

  .header-wrapper__logo {
    width: 150px;
  }

  .header-burger {
    height: 40px;
    width: 40px;
  }

  .burger-line {
    height: 1px;
  }

  .burger-lines {
    height: 22px;
    width: 25px;
  }

  .header-search {
    height: 40px;
    width: 40px;
  }

  .header-search img {
    height: 32px;
    width: 32px;
    margin: 5px;
  }

  .headline-1 {
    font-size: 22px;
  }

  .headline-2 {
    font-size: 22px;
  }

  .headline-2_2 {
    font-size: 22px;
  }

  .headline {
    width: 88vw;
    margin: 30px auto;
  }

  .headline-top-right__text {
    font-size: 9px;
  }

  .container {
    width: 100vw;
    padding: 0 10px;
  }

  .headline-top-right__icon {
    width: 7px;
    height: 9px;
    margin-right: 1px;
  }

  .headline-bottom__left {
    width: 52px;
    height: 26px;
  }

  .section-name {
    font-size: 11px;
  }

  .section-card-wrapper-card-content__title {
    font-size: 13px;
  }

  .usability-card__title.last {
    width: 159px;
  }

  .section-card-wrapper-card {
    padding: 10px 3px 0px 10px;
  }

  .section-tittle__1 {
    font-size: 19px;
  }

  .section-tittle__2 {
    font-size: 19px;
  }

  .usability-card__title {
    font-size: 12px;
    margin-top: 10px;
  }

  .usability-card {
    height: 200px;
  }

  .usability-card__arrow {
    position: absolute;
    left: 2px;
    bottom: 45px;
    width: 37px;
    height: 37px;
  }

  .usability-card__bg {
    width: 180px;
    height: 160px;
  }

  .section-card-wrapper.usability {
    grid-template-columns: 119px 168px;
    grid-template-rows: 150px 150px;
    grid-gap: 90px;
    width: 377px;
  }

  .usability-card__bg.last {
    width: 180px;
    height: 160px;
  }

  .usability-card.last {
    height: 208px;
    width: 200px;
  }

  .about-content__block {
    font-size: 14px;
    width: 91vw;
    margin-bottom: 15px;
  }

  .consult-form-white__title-1 {
    font-size: 16px;
  }

  .consult-form-white__title-2 {
    font-size: 16px;
  }

  .consult-form-white {
    width: 75vw;
    right: 78vw;
    padding: 25px 20px 0px 35px;
  }

  .consult-form-white__text {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .consult-form-white {
    padding: 25px 20px 0px 44px;
    height: 270px;
    top: 15px;
    width: 320px;
    right: 7%;
  }

  .consult-form-bg {
    width: 100%;
    height: 274px;
  }

  .consult-form__bg img {
    height: 277px;
    width: 100%;
  }

  .consult-content__button {
    margin-top: 15px;
    width: 50vw;
  }

  .about-button__text {
    font-size: 12px;
    margin-left: 10px;
  }

  .container.consult {
    height: 279px;
    width: 400px;
  }

  .consult-form-white {
    padding: 25px 20px 0px 55px;
    height: 270px;
    top: 15px;
  }
}

@media (max-width: 320px) {

  .header-wrapper__logo {
    width: 129px;
  }

  .header-burger {
    height: 35px;
    width: 35px;
  }

  .burger-lines {
    height: 17px;
    width: 17px;
  }

  .header-icons {
    display: flex;
    margin-left: 20px;
    margin-right: 0px;
  }

  .headline-bottom__left {
    display: none;
  }

  .headline-top-right {
    display: none;
  }

  .header-wrapper {
    width: 40vw;
  }

  .header-phone.adaptive {
    width: 140px;
    font-size: 16px;
  }

  .header-burger {
    height: 30px;
    width: 30px;
  }

  .header-search {
    height: 30px;
    width: 30px;
  }

  .header-search img {
    height: 25px;
    width: 25px;
    margin: 5px;
  }

  .btn img {
    width: 40px;
    height: 40px;
  }

  .section-tittle__1 {
    font-size: 18px;
  }

  .section-tittle__2 {
    font-size: 18px;
  }

  .section-card-wrapper-card__number {
    font-size: 12px;
  }

  .section-card-wrapper {
    display: grid;
    grid-template-columns: 145px 145px;
    grid-template-rows: 136px 136px;
    grid-gap: 20px;
    grid-column-gap: 10px;
  }

  .section-card-wrapper-card:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .section-card-wrapper-card:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .section-card-wrapper-card:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .section-card-wrapper-card {
    width: 100%;
  }

  .section-card-wrapper-card-content__title {
    font-size: 13px;
    width: 123px;
    margin-bottom: -5px;
  }

  .production {
    margin: 40px 0 40px;
  }

  .usability-card {
    width: 165px;
    height: 169px;
  }

  .section-card-wrapper.usability {
    grid-template-columns: 80px 222px;
    grid-template-rows: 150px 150px;
    grid-gap: 40px;
    width: 379px;
    margin: 0 auto;
  }

  .usability-card__bg.last {
    width: 145px;
    height: 125px;
  }


  .usability-card__title.last {
    overflow: hidden;
    width: 147px;
    height: 47px;
  }

  .usability-card__bg {
    width: 145px;
    height: 125px;
  }

  .usability-card.last {
    height: 184px;
  }

  .usability-card__arrow.last {
    bottom: 58px;
  }

  .section-name {
    margin-bottom: 10px;
  }

  .section-tittle__1 {
    font-size: 16px;
  }

  .section-tittle__2 {
    font-size: 16px;
  }

  .consult-form__bg img {
    height: 64vh;
    width: 95vw;
  }

  footer {
    padding: 10px 5px 40px 5px;
  }

  .footer-wrapper-nav {
    width: 80vw;
  }

  .container.consult {
    height: 277px;
  }

  .consult-form-bg {
    width: 100%;
    height: 100%;
  }

  .consult-form {
    height: 278px;
    margin-bottom: 50px;
  }

  .consult-form-white {
    width: 89vw;
    right: 2vw;
    padding: 10px 20px 0px 20px;
    height: 259px;
    top: 15px;
  }

  .consult-form-white__text {
    font-size: 12px;
    width: 69vw;
  }

  .consult-content__button {
    margin-top: 20px;
    width: 72vw;
  }


}